<script>
    import "../app.postcss";
    import Nav from '$components/Nav.svelte';

    let dark = false;
</script>

<div class:dark >
    <Nav bind:dark />
    <slot />
</div>

<style >
    :global( body.dark-mode ) {
        background-color: #121212;
    }
</style>
