<script context="module" lang="ts">
    export const load = async ( { fetch } ) => { // { fetch } is apparently needed for the load() to properly work
        const res = await fetch( '/projects/list.json' );
        const data = await res.json();

        return { props: { webDevelopment: Object.values( data.web ) } }
    }
</script>

<script lang="ts">
    import { fade, slide } from 'svelte/transition';
    export let webDevelopment: string[];

    webDevelopment = Object.values( webDevelopment[0] );
</script>

<div class="flex justify-center mt-24 px-5" in:fade={ { duration: 500 } }>
    <div class="text-left text-gray-600 dark:text-gray-200 p-5" style="width: 64rem;">
        <div>
            <!-- PAGE TITLE -->
            <h1 class="text-3xl">
                <span class="bg-black text-white dark:bg-white dark:text-black font-semibold px-1.5 py-0.5">\Blog Posts</span>
            </h1>
            <!-- /PAGE TITLE -->
            <!-- POSTS LIST -->
            <div class="grid mt-7" in:slide={ { duration: 500 } }>
                <!-- POSTS -->
                { #each webDevelopment as web }
                    <a class="bg-gray-50 hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-900 mr-2 mb-6 py-2 px-4 rounded-lg duration-500" href="{ web.url }">
                        <!-- POST TITLE -->
                        <h1 class="text-lg font-medium">{ web.name }</h1>
                        <!-- /POST TITLE -->
                        <!-- POST DESCRIPTION -->
                        <p class="text-sm text-gray-400 mt-1">{ web.desc }</p>
                        <!-- /POST DESCRIPTION -->
                    </a>
                { /each }
                <!-- /POSTS -->
            </div>
            <!-- /POSTS LIST -->
        </div>
    </div>
</div>