<script>
    import { fade } from 'svelte/transition';
</script>

<div class="flex justify-center pt-24 px-5">
    <div class="text-left text-gray-600 dark:text-gray-200 p-5" style="width: 64rem;">
        <!-- INDEX HEADER -->
        <div class="text-3xl">
            <p>Hello, I am <span class="header bg-black text-white dark:bg-white dark:text-black">\nwahs</span>.</p>
        </div>
        <!-- /INDEX HEADER -->
        <!-- INDEX PARAGRAPHS -->
        <div class="paragraph text-xl pt-10">
            <p>A "<i>full-time</i>" student that has a passion of learning programming and anything related to it, such as web and game development.</p>
            <p>Currently learning <a class='links text-gray-700 border-gray-100 hover:border-gray-500 dark:text-gray-100 dark:border-gray-800 dark:hover:border-gray-50' href="https://svelte.dev/">Svelte</a> and TypeScript for web development, as well as Java and
                <a class="links text-gray-700 border-gray-100 hover:border-gray-500 dark:text-gray-100 dark:border-gray-800 dark:hover:border-gray-50" href="https://libgdx.com/">LibGDX</a> for game development. You can check what I've currently made or making on
                <a class='links text-gray-700 border-gray-100 hover:border-gray-500 dark:text-gray-100 dark:border-gray-800 dark:hover:border-gray-50' href="./projects">my projects page</a>!</p>
        </div>
        <!-- /INDEX PARAGRAPHS -->
        <!-- INDEX FOOTER -->
        <div class="pt-64 text-md text-center">
            <p>If you wish to contact me, please do so at my <a class='links text-gray-700 border-gray-100 hover:border-gray-500 dark:text-gray-100 dark:border-gray-800 dark:hover:border-gray-50' href="https://gitlab.com/laazyCmd">GitLab</a> page or at my
                <a class='links text-gray-700 border-gray-100 hover:border-gray-500 dark:text-gray-100 dark:border-gray-800 dark:hover:border-gray-50' href="https://twitter.com/badgr00ve">Twitter</a> (<i>*though I don't use the platform that much*</i>).</p>
        </div>
        <!-- /INDEX FOOTER -->
    </div>
</div>

<style lang="postcss">
    .header {
        @apply font-semibold px-1.5 py-0.5;
    }

    .paragraph p {
        @apply pt-12;
    }

    .links {
        @apply border-b-2 duration-500;
    }
</style>