<script>
    export let dark;

    const switchDarkMode = () => {
        dark = !dark;
        window.document.body.classList.toggle( 'dark-mode' );
    }

    const fa_sun = "M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96s96-43.1 96-96s-43.1-96-96-96zm246.4 80.5l-94.7-47.3l33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5l-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4l-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3l-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5l47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7l100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4l94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0c-49.9-49.9-49.9-131.1 0-181c49.9-49.9 131.1-49.9 181 0c49.9 49.9 49.9 131.1 0 181z";
    const fa_moon = "M283.211 512c78.962 0 151.079-35.925 198.857-94.792c7.068-8.708-.639-21.43-11.562-19.35c-124.203 23.654-238.262-71.576-238.262-196.954c0-72.222 38.662-138.635 101.498-174.394c9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256c0 141.309 114.511 256 256 256z";
</script>

<nav class="flex justify-around items-center pt-12">
    <!-- WEBSITE LOGO -->
    <div class="flex items-center">
        <a class='nav-header text-white bg-black dark:bg-white dark:text-black' href="#">
            \nwahs
        </a>
    </div>
    <!-- /WEBSITE LOGO -->
    <!-- WEBSITE NAV LINKS -->
    <div class="flex items-center">
        <!-- ON WIDE SCREENS -->
        <a class="navbutton text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400" href="/">Home</a> <!-- CHANGE URL WHEN BUILDING -->
        <a class="navbutton text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400" href="/projects">Projects</a> <!-- CHANGE URL WHEN BUILDING -->
        <a class="navbutton text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400" href="/blog">Blog</a> <!-- CHANGE URL WHEN BUILDING -->
        <!-- /ON WIDE SCREENS -->
    </div>
    <!-- /WEBSITE NAV LINKS -->
    <div class="flex items-center">
        <!-- ON MOBILE -->
        <a class="small-navbutton text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400" href=""> <!-- CHANGE URL WHEN BUILDING -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.13em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 576 512"><path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z" fill="currentColor"/></svg>
        </a>
        <a class="ml-5 small-navbutton text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400" href="./projects"> <!-- CHANGE URL WHEN BUILDING -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.13em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 576 512"><path d="M572.694 292.093L500.27 416.248A63.997 63.997 0 0 1 444.989 448H45.025c-18.523 0-30.064-20.093-20.731-36.093l72.424-124.155A64 64 0 0 1 152 256h399.964c18.523 0 30.064 20.093 20.73 36.093zM152 224h328v-48c0-26.51-21.49-48-48-48H272l-64-64H48C21.49 64 0 85.49 0 112v278.046l69.077-118.418C86.214 242.25 117.989 224 152 224z" fill="currentColor"/></svg>
        </a>
        <a class="ml-5 small-navbutton text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400" href="./blog"> <!-- CHANGE URL WHEN BUILDING -->
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1.13em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 576 512"><path d="M552 64H88c-13.255 0-24 10.745-24 24v8H24c-13.255 0-24 10.745-24 24v272c0 30.928 25.072 56 56 56h472c26.51 0 48-21.49 48-48V88c0-13.255-10.745-24-24-24zM56 400a8 8 0 0 1-8-8V144h16v248a8 8 0 0 1-8 8zm236-16H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm-208-96H140c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm208 0H348c-6.627 0-12-5.373-12-12v-8c0-6.627 5.373-12 12-12h152c6.627 0 12 5.373 12 12v8c0 6.627-5.373 12-12 12zm0-96H140c-6.627 0-12-5.373-12-12v-40c0-6.627 5.373-12 12-12h360c6.627 0 12 5.373 12 12v40c0 6.627-5.373 12-12 12z" fill="currentColor"/></svg>
        </a>
        <!-- /ON MOBILE -->
        <!-- SOCIAL LINKS -->
        <a class='social ml-5 text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400 text-xl' href="https://gitlab.com/laazyCmd">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d="M105.2 24.9c-3.1-8.9-15.7-8.9-18.9 0L29.8 199.7h132c-.1 0-56.6-174.8-56.6-174.8zM.9 287.7c-2.6 8 .3 16.9 7.1 22l247.9 184l-226.2-294zm160.8-88l94.3 294l94.3-294zm349.4 88l-28.8-88l-226.3 294l247.9-184c6.9-5.1 9.7-14 7.2-22zM425.7 24.9c-3.1-8.9-15.7-8.9-18.9 0l-56.6 174.8h132z" fill="currentColor"/></svg>
        </a>
        <!-- /SOCIAL LINKS -->
        <!-- ACCESSIBILITY OPTIONS -->
        <button class="accessibility ml-5 text-gray-400 hover:text-gray-600 dark:text-gray-500 dark:hover:text-gray-400 text-md" on:click|preventDefault={ switchDarkMode }>
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path d={ !dark ? fa_sun : fa_moon } fill="currentColor"/></svg>
        </button>
        <!-- /ACCESSIBILITY OPTIONS -->
    </div>
</nav>

<style>
    .nav-header {
        @apply text-2xl font-semibold px-1.5 py-0.5;
    }

    .navbutton {
        @apply md:inline md:mx-5 md:text-lg duration-500 hidden;
    }

    .small-navbutton {
        @apply text-lg duration-500 md:hidden;
    }

    .social, .accessibility {
        @apply duration-500;
    }
</style>